:root{
    --dark-blue: #3a86ff;
    --light-blue: #E3F2FD;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: var(--white);
}

h1{
    color: var(--white);
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: var(--dark-blue);
}

.container {
    display: center;
    gap: 35px;
    padding: 90px 100px 200px 490px;
}

.weather-input {
    width: 900px;
}

.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background-color: #ccc;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1rem;
    border-radius: 4px;
    background-color: var(--dark-blue);
}
.weather-data{
    width: 900px;
}

.current-weather{
color: var(--white);
display: flex;
border-radius: 5px;
padding: 50px 10px 50px 50px;
background: var(--dark-blue);
justify-content: space-between;
}

.current-weather h2{
    font-size: 2rem;
}

.weather-data h4 {
    margin-top: 12px;
    font-size: 1.5rem;
    font-weight: 500;
}

.current-weather .icon img {
    max-width: 180px;
    margin: -20px 80px 20px 20px;
}

.current-weather .icon h4{
    margin: -20px 80px 20px 20px;
    text-transform: capitalize;
    text-align: center;
}
.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.weather-cards{
    display: flex;
    gap: 10px;
}

.weather-cards .card {
    list-style-type: none;
    color: var(--white);
    padding: 18px 16px;
    background: var(--dark-blue);
    width: calc(100% / 5);
    border-radius: 5px;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}



